.span12.tac
  %h1= "Terms & Conditions"
  .container
    %span.welcome= "Welcome to www.bvcrewards.com."
    %p= "To avail the services offered at www.bvcrewards.com or by any of its affiliates, you must agree to the following terms and conditions. If you visit or shop or redeem points or browse at www.bvcrewards.com you accept these conditions."

    %p= "Please read the term and conditions carefully. While using any current or future services offered by www.bvcrewards.com or any of its affiliates, whether or not included in the www.bvcrewards.com website, you will abide by these Terms & Conditions the guidelines and conditions applicable to such service or business."

    %h4= "Privacy Policy"
    %p
      = "Please review our "
      = link_to "Privacy Policy", privacy_policy_path
      = " which also governs your visit to www.bvcrewards.com to fully understand our practices."

    %h4= "Terms and conditions are binding for all purchases"
    %p= "All orders are deemed offers for you to purchase our products via redemption of points allocated to you. We may accept your offer by issuing a confirmatory e-mail and/or mobile confirmation of the products specified in your order. Our acceptance of each such offer is expressly subject to and conditioned on your assent to these terms and conditions of sale. No other terms and conditions will apply."


    %h4= "Electronic Communication"
    %p= "When you visit www.bvcrewards.com or send e-mails to us, you are communicating with us electronically. By communicating with us, you consent to receive communication from us electronically. We will communicate with you by e-mail or by posting notices on our website. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communication be in writing."

    %h4= "Reward Points"
    %p= "All reward points posted on this website are subject to change without notice. Points prevailing at commencement of placing the order will apply. Points do include all taxes and other charges. In case there are any additional charges or taxes the same will be mentioned on the website."

    %h4= "Payment"
    %p= "All payments must be received by us prior to shipping. BVC Rewards would have to have upfront payment to start allocating reward points to any person/employee/channel partner/customer of its client."

    %h4= "Shipping and Handling"
    %p= "We will arrange for shipment of the products to you. Shipping schedules are estimates only and cannot be guaranteed. We are not liable for any delays in the shipments. Title and risk of loss and damages pass on to you upon the products delivery to you. In case reverse shipment cannot be arranged by us due to unavailability of our logistics partners, then in that case you may be requested to send such products through any available courier services."

    %h4= "Return of Products by you"
    %p= "We will accept the return of the products, provided such return is for products that are damaged during transit, defective, wrongly delivered, wrong product, incomplete package etc. subject to the condition that we are informed about such discrepancies within 72 hours from the date of receipt of the product and provided that the products are returned in their original condition."

    %h4= "30 days replacement conditions"
    %p= "BVC Rewards offers 30 days replacement guarantee for all products sold on www.bvcrewards.com, under certain conditions which are mentioned below. Customers will notify us of any damage or defect within 72 hours from the date of receipt of delivery of the products, in case customer fails to inform Birdvision within the stipulated time frame, Birdvision reserves the right to accept or reject such request at its discretion. Birdvision will replace the defective product with a brand new product at no extra cost."
    %p= "Birdvision will try to replace the specific product ordered. However, the company reserves the right to offer an alternate product in case the product is out of stock/ production."
    %p= "The 30 days replacement guarantee is valid only in cases of manufacturing defects and transport damages and is invalid in cases of damages due to normal wear & tear and negligence on part of the customer. The return policy is also not valid for certain products such as Cakes, Flowers, gifts, etc. Should customers come across any issue with such products, they are advised to contact customer service within 72 hours, failing which we may decide not take a request for replacement."
    %p= "Digital content such as e-books is not returnable at all."

    %h4= "Changes and Cancellation"
    %p= "Points once redeemed cannot be reversed. No changes to the orders in terms of quantity or specification will be entertained."

    %h4= "License and Website Access"
    %strong= "General:"
    %p= " The www.bvcrewards.com grants you a limited license to access and make personal use of this website and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of www.bvcrewards.com."

    %strong= "No license for commercial sale:"
    %p= " This license does not include any resale or commercial use of this website or its content; any collection and use of any product listing, description, or pricing; copying of account information for the benefit of another merchant; or any use of data mining, or similar data gathering and extraction tools."

    %strong= "No reproduction:"
    %p= " This website or any portion of this website may not be reproduced, duplicated, copies, sold, visited, or otherwise exploited for any commercial purpose without express written consent of www.bvcrewards.com."

    %strong= "No framing:"
    %p= " You may not frame or utilize framing technologies to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of www.bvcrewards.com and its affiliates without the express written consent."

    %strong= "Metatags:"
    %p= " You may not use any metatags or any other 'hidden text' utilizing www.bvcrewards.com's name or trademarks without the express written consent of www.bvcrewards.com. Any unauthorized use terminates the permission or license granted by www.bvcrewards.com."

    %h4= "Your Account"
    %strong= "Protection of Your Account:"
    %p= " As discussed further in the website's privacy policy, by using this website, you agree that you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and agree to accept responsibility for all activities that occur under your account or password."

    %h4= "Reviews, Comments, Communications, and other content"
    %strong= "Nature of content:"
    %p= " Visitors to www.bvcrewards.com may post reviews, comments and other content; send e-cards and other communications; and submit suggestions, ideas, comments, questions or other information, as long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights to otherwise injuries to third party or objectionable and does not consist of or contains software virus, political campaigning, commercial solicitation, mass mailing or any form of spam."

    %strong= "False information:"
    %p= " You may not use false email address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Bvcrewards.com reserves the right (but not the obligation) to remove or edit such content but does not regularly review posted contents."

    %strong= "Rights Granted:"
    %p= " If you do post content or submit material and unless we indicate otherwise, you grant www.bvcrewards.com and its affiliates a non-exclusive, royalty free, perpetual, irrevocable, and fully sub-licensed right to use, reproduce, modify, adapt, publish, translate, create derivative work from, distribute, and display such content throughout the world in any media. You grant www.bvcrewards.com and its affiliate sites and sub-license the right to use the name that you submit in connection with such content if www.bvcrewards.com chooses."

    %strong= "Right Owned:"
    %p=" You represent and warrant that you own all the rights or otherwise or control all of the rights to the content that you post; that the content is accurate; that the use of the content to supply does not violate this policy and will not cause injury to any person or entity and that you will indemnify www.bvcrewards.com or its affiliate for all claims resulting from the content you supply. www.bvcrewards.com has the right but not the obligation to monitor and edit or remove any activity or content. www.bvcrewards.com takes no responsibility and assumes no liability for any content posted by you or any third party."

    %h4= "Risk of Loss"
    %p= "All items purchased from www.bvcrewards.com are made pursuant to the shipment contract. This means that the risk of loss and title for such item passes on to you upon the products delivery."

    %h4= "Product Description"
    %p= "The www.bvcrewards.com and its affiliates attempt to be as accurate as possible. However, www.bvcrewards.com does not guarantee that the product description and any other content on its site are accurate, complete, reliable, current or error free."

    %h4= "Site Policies, Modification, and Severability"
    %p= "Please review our other policies. We reserve the right to make changes to our website, policies, and these Terms and Conditions at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and will not affect the validity and enforceability of any remaining conditions."

    %h4= "Intellectual Property Rights"
    %strong= "Copyright Protection: "
    %p= " All content included on this site, such as text, graphics, logos, button icons, audio clips, digital downloads, data compilations and software, is the property of www.bvcrewards.com or its affiliate sites and protected by the Indian Copyright law. The compilation of all the content on this site is the exclusive property if www.bvcrewards.com and protected by Indian Copyright law. All software used in this site is the property of www.bvcrewards.com and is protected under the Indian Copyright law."

    %h4= "Governing Law and Jurisdiction"
    %p= "These terms and conditions will be construed only in accordance with the laws of India. In respect of all matters/disputes arising out of, in connection with or in relation to these terms and conditions or any other conditions on this website, only the competent Courts at Pune, Maharashtra shall have jurisdiction, to the exclusion of all other courts."

    %h4= "Disclaimer of warranties and Limitation of Liability"
    %p= 'THIS SITE IS PROVIDED BY BVCREWARDS.COM ON AN "AS IS" AND "AS AVAILABLE" BASIS. BVCREWARDS.COM MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.'
    %p= 'TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, BVCREWARDS.COM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. BVCREWARDS.COM DOES NOT WARRANT THAT THE SITE, ITS SERVERS, OR EMAIL SENT FROM BVCREWARDS.COM ARE FREE OF VIRUS OR OTHER HARMFUL COMPONENTS. BVCREWARDS.COM WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE AND CONSEQUENTIAL DAMAGES.'
