.header-div
  = render(:partial => 'header' , :locals => {:f => 3})
  .main-div
    %p= render "template_header"
    = form_for :communication, :url => store_communication_admin_targeted_offer_managers_path, :method => :post, :html => {:id => 'form1'}  do |f|
      = f.hidden_field :client_id, :value => @client_id, :id => "hidden_client"
      = f.hidden_field :config_id, :value => @targeted_offer_config.id, :id => "hidden_config_id"
      .communication
        %table.table.table-bordered.table-style
          %tr
            %td
              %fieldset#id-set-medium
                %h3 Communication Medium
                .adjust
                  = f.check_box :select_all, :class => "check", :id => "select_all"
                  = f.label "Select All"
                  .inner-medium
                    = f.check_box :sms_based, :class => "medium-check", :id => "sms_based"
                    = f.label "Sms"
                    %br
                    = f.check_box :email_based, :class => "medium-check", :id => "email_based"
                    = f.label "Email"
      .space
      #alignsubmit
        = link_to "Back" , campaingn_manager_edit_admin_targeted_offer_managers_path(:to_conf =>@targeted_offer_config.id) , :class => 'btn btn-info'
        = f.submit "Create Targeted Offer", :class => 'btn btn-info'