#widget-postion-1.col-sm-4
  .widget-postion-inner
    %span.delete-widget-button
      - @widget_id = @client_manager_dashboard.find_widget(@wid, current_admin_user)
      = link_to image_tag("remove_30-sign.jpg"), admin_client_managers_widget_path(@widget_id), :method => :delete, :class => "remove-widget-button", :confirm => "Are you sure. You want to remove #{@wid} widget?"
    = link_to community_size_admin_client_managers_widgets_path, :id => "community-size-link" , :class => "decoration-none" do
      .widget-header= 'Community Size'
      .widgets-number-data
        %span.number.penetration-number= @client_manager_dashboard.community_size.count
        %span.sub-title{:style => "color: black;"} Members
        / .widgets-number-data.penetration-number= @client_manager_dashboard.community_size.count