.control-group
  = f.label 'Current password', :class => "control-label mandatory-field"
  .controls= f.password_field :current_password
.control-group
  = f.label 'New password', :class => "control-label mandatory-field"
  .controls= f.password_field :password, :autocomplete => "off"
.control-group
  = f.label 'Confirm new password', :class => "control-label mandatory-field"
  .controls= f.password_field :password_confirmation