%h1 New Client
%hr
= form_for(current_user, :url => send_al_user_details_path(current_user), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  .control-group
    = f.label 'Owner Name', :class => "control-label"
    .controls
      = f.text_field :full_name
  .control-group
    = f.label 'Address', :class => "control-label"
    .controls
      = f.text_area :address, :rows => 5
  .control-group
    = f.label 'Mobile Number', :class => "control-label"
    .controls
      = f.text_field :mobile_number
  %hr
  = link_to 'Cancel', '#', :class=> "btn"
  = f.submit "Send Change Request", :disable_with => "Please wait...", :class=>"btn btn-info"