- password_reset_url = (@resource.client.custom_reset_password_url? && @resource.client.client_url.present?) ? "#{@resource.client.client_url.gsub(/\/+$/, '')}/user_password_reset?reset_password_token=#{@resource.reset_password_token}" : edit_password_url(@resource, add_client_host(@resource, :reset_password_token => @resource.reset_password_token))
%div{:style=>"border-bottom: 5px solid #3DB2C3; padding-bottom:10px; border-radius: 10px; border-left: 1px solid #3DB2C3; border-right: 1px solid #3DB2C3;margin:5px 15px;padding:5px;"}
  %p="Dear #{@user.full_name},"
  %div{:style=>"padding-left:20px"}
    %p= "We have received a request to change your account password"
    %p
      = "Your username is "
      %strong= "#{@user.username}"
    %p
      = "If you wish you to change your password click "
      = link_to "here", password_reset_url
      %br
      %em
        = "( If you are unable to access the link provided please copy the following URL and paste it in the address bar of your browser "
        = link_to "#{password_reset_url}", password_reset_url
        = " )"
    %p= "Your password will not be changed until you use the link above and set a new password"
    %p= "If you didn't request this, please ignore this email."

  = render :partial => "mailers/user/email_footer", :locals => {:user=>@user}