%table.cart-items.cart-items-order-det.clearfix
  %tr.header
    %td= "Product"
    %td= "Product Description"
    - if @user_scheme.show_points?
      %td.align-right= "Points"
      %td.align-right= "Quantity"
      %td.align-right= "Subtotal"
  - @order.order_items.each do |order_item|
    - item = order_item.client_item.item
    %tr{:id => item.slug}
      %td.image-container= image_tag(item.image.url , :alt => item.title)
      %td.product-description
        %p.product-title= link_to item.title, client_item_path_for(order_item.client_item, @user_scheme)
        .cart-item-service-charge= order_item.extra_charges.display
        %p= item.description
      - if @user_scheme.show_points?
        %td.points.align-right= bvc_currency(order_item.client_item.price_to_points)
        %td.quantity.align-right
          %span= order_item.quantity
        %td.align-right.sub-total= bvc_currency(order_item.points_claimed)
  - if @user_scheme.show_points?
    %tr.footer
      %td{:colspan=>5, :class=>"align-right total-points"}
        %span.total-text= "Grand Total : "
        %span= bvc_currency(@order.total)
        %span.pts-text= " pts"
.action-items
  = form_for @order, :url => orders_path_for(@user_scheme), :html => {:class => 'form-horizontal'}  do |f|
    = render 'share/one_time_password', :f => f if current_user.client.allow_otp?
    .pull-right
      = f.submit "Confirm", {:class => 'btn-confirm theme-btn-cko'}