= render :partial => "summary", :locals=>{:show_shipping_info => false}
#address.span9
  %ul.checkout-steps
    %li.active
      %label
        %span 1
        Shipping Address
    %li
      %label
        %span 2
        Order Summary
    %li.last-child
      %label
        %span 3
        Confirmation
  .checkout-step-content#shippingAddress
    %h4 Please enter the Shipping Address
    = form_for @order, :url => order_preview_path_for(@user_scheme), :html => {:class => 'form-horizontal'}  do |order_form|
      - if @order.errors.any?
        = render :partial => "share/messages", :locals => {:type => :alert, :message => @order.errors.full_messages}
      - if current_user.client_id == ENV['AL_CLIENT_ID'].to_i
        .span7.offset1
          .control-group
            = order_form.label :address_name, "Name" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_name, :value => current_user.full_name
  
          .control-group
            = order_form.label :address_body, "Address" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_area :address_body, {:rows=>5, :value => current_user.address}
  
          .control-group
            = order_form.label :address_landmark, "Landmark" , :class => "control-label"
            .controls
              = order_form.text_field :address_landmark
  
          .control-group
            = order_form.label :address_city, "City" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_city
  
          .control-group
            = order_form.label :address_state, "State" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_state
  
          .control-group
            = order_form.label :address_zip_code, "Pin Code" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_zip_code, :value => current_user.pincode
  
          .control-group
            = order_form.label :address_phone, "Mobile Number" , :class => "control-label mandatory-field"
            .controls.mobile-number
              = label_tag "", "+91"
              = order_form.text_field :address_phone, :value => current_user.mobile_number
  
          .control-group
            = order_form.label :address_landline_phone, "Optional Phone" , :class => "control-label"
            .controls
              = order_form.text_field :address_landline_phone
      
      - else
        .span7.offset1
          .control-group
            = order_form.label :address_name, "Name" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_name
  
          .control-group
            = order_form.label :address_body, "Address" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_area :address_body, {:rows=>5}
  
          .control-group
            = order_form.label :address_landmark, "Landmark" , :class => "control-label"
            .controls
              = order_form.text_field :address_landmark
  
          .control-group
            = order_form.label :address_city, "City" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_city
  
          .control-group
            = order_form.label :address_state, "State" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_state
  
          .control-group
            = order_form.label :address_zip_code, "Pin Code" , :class => "control-label mandatory-field"
            .controls
              = order_form.text_field :address_zip_code
  
          .control-group
            = order_form.label :address_phone, "Mobile Number" , :class => "control-label mandatory-field"
            .controls.mobile-number
              = label_tag "", "+91"
              = order_form.text_field :address_phone
  
          .control-group
            = order_form.label :address_landline_phone, "Optional Phone" , :class => "control-label"
            .controls
              = order_form.text_field :address_landline_phone

      .span9.control-group.action-items
        .controls
          = order_form.submit "Confirm", {:class=>"btn-confirm theme-btn-cko pull-right"}