%div{:style=>"border-bottom: 5px solid #3DB2C3; padding-bottom:10px; border-radius: 10px; border-left: 1px solid #3DB2C3; border-right: 1px solid #3DB2C3;margin:5px 15px;padding:5px;"}
  %p= "Dear #{@user.full_name},"

  %div{:style=>"padding-left: 20px"}
    %p= "Your account has been successfully activated."

    %p{:style=>"margin-bottom:0px"}
      = "Your account details are as follows:"
    %ul{:style=>"margin:5px; padding-left: 30px"}
      %li
        = "Username for login: "
        %strong= "#{@user.username}"
        %em= " ( use this to sign in )"
      %li
        = "Participant ID: "
        %strong= "#{@user.participant_id}"
        %em= "( please quote this in any communications with our Support team )"
    %p{:style=>"margin-bottom:0px;"}
      = "Your Schemes : "
    %ol{:style=>"margin:5px; padding-left: 30px;"}
      - @user.schemes.each do |scheme|
        %li= "#{scheme.name} "
    %p
      = "You can sign in to your account by clicking the following link: "
      = link_to "Sign In", root_url_for(@user)
      %br
      %br
      %em{:style=>"font-size: 0.8em;"}
        = "If you are unable to click the Sign In link please copy the following and paste it in the address bar of your browser:"
        %br
        = link_to "#{root_url_for(@user)}", root_url_for(@user)

  = render :partial => "mailers/user/email_footer", :locals => {:user=>@user}