%div{:style=>"border-bottom: 5px solid #3DB2C3; padding-bottom:10px; border-radius: 10px; border-left: 1px solid #3DB2C3; border-right: 1px solid #3DB2C3;margin:5px 15px;padding:5px;"}
  %div{:style=>"padding-left: 20px"}
    %p= "You have been successfully registered."

    %p{:style=>"margin-bottom:0px"}
      = "Your account login details are as follows:"
    %ul{:style=>"margin:5px; padding-left: 30px"}
      %li
        = "Username: "
        %strong= "#{@user.username}"
      %li
        = "Password: "
        %strong= "#{@password}"
    %p
      = "You can sign in to your account by clicking the following link: "
      = link_to "Sign In", new_user_session_url
      %br
      %em
        = " ( If you are unable to access the link provided please copy the following URL and paste it in the address bar of your browser "
        = link_to new_user_session_url, new_user_session_url
        = " )"

  = render :partial => "mailers/user/email_footer", :locals => {:user => @user}