%table.filters
  %tr
    %td
      = f.label :retailer_code_eq, "Retailer Code"
      = f.text_field :retailer_code_eq, :class => 'input-medium'
    %td
      = f.label :ro_code_eq, "RO Code"
      = f.text_field :ro_code_eq, :class => 'input-medium'
    %td
      = f.label :dealer_code_eq, "Dealer Code"
      = f.text_field :dealer_code_eq, :class => 'input-medium'