%h1 Product Codes Report

= search_form_for @search, :url => report_admin_sms_based_unique_item_codes_path do |f|
  = render :partial => "admin/share/filter_wrapper", :locals => { :f => f, :filter => "product_codes_filter" }

.actions
  .actions-left
  .grid-pager
    = paginate @unique_item_codes
  .actions-right
    = link_to report_admin_sms_based_unique_item_codes_path(:format => "csv", :q => params[:q]), :class=> "btn btn-info pull-right", :id =>"downloadProductCodesReportCsv" do
      %i.icon-download.icon-white
      Download

%table.table.table-striped.table-bordered.orders
  %thead
    %tr
      - if is_super_admin?
        %th= sort_link(@search, :reward_item_client_msp_name, "MSP")
      - unless is_client_manager?
        %th= sort_link(@search, :reward_item_client_client_name, "Client")
      %th= sort_link(@search, :reward_item_scheme_name, "Scheme")
      %th Product
      %th Code
      %th Points
      %th= sort_link(@search, :user_full_name, "Full Name")
      %th= sort_link(@search, :user_username, "Username")
      %th Mobile Number
      %th= sort_link(@search, :used_at, "Used At")
  - @unique_item_codes.each do |unique_item_code|
    %tr[unique_item_code]
      - if is_super_admin?
        %td= unique_item_code.reward_item_point.reward_item.client.msp_name
      - unless is_client_manager?
        %td= link_to unique_item_code.reward_item_point.reward_item.client.client_name, admin_client_path(unique_item_code.reward_item_point.reward_item.client)
      %td= unique_item_code.reward_item_point.reward_item.scheme.name
      %td= unique_item_code.reward_item_point.product_detail
      %td= unique_item_code.code
      %td= unique_item_code.reward_item_point.points
      %td= unique_item_code.user.full_name
      %td= link_to unique_item_code.user.username, admin_user_path(unique_item_code.user)
      %td= unique_item_code.user.mobile_number
      %td= l unique_item_code.used_at, :format => :long_date_time rescue ''
.actions-down
  .actions-left
  .grid-pager
    = paginate @unique_item_codes
  .actions-right