%div{:style=>"border-bottom: 5px solid #3DB2C3; padding-bottom:10px; border-radius: 10px; border-left: 1px solid #3DB2C3; border-right: 1px solid #3DB2C3;margin:5px 15px;padding:5px;"}
  %div{:style=>"padding-left: 20px"}
    %p= "Your account has been successfully activated."

    %p{:style=>"margin-bottom:0px"}
      = "Your account details are as follows:"
    %ul{:style=>"margin:5px; padding-left: 30px"}
      %li
        = "Username for login: "
        %strong= "#{@admin_user.username}"
        %em= " ( use this to sign in )"
    %p
      = "You can sign in to your account by clicking the following link: "
      = link_to "Sign In", new_admin_user_session_url
      %br
      %em
        = " ( If you are unable to access the link provided please copy the following URL and paste it in the address bar of your browser "
        = link_to new_admin_user_session_url, new_admin_user_session_url
        = " )"

  = render :partial => "mailers/admin_user/email_footer", :locals => {:user => @admin_user}
