%div{:style=>"border-bottom: 5px solid #3DB2C3; padding-bottom:10px; border-radius: 10px; border-left: 1px solid #3DB2C3; border-right: 1px solid #3DB2C3;margin:5px 15px;padding:5px;"}
  %p= "Dear #{@admin_user.username},"
  %div{:style=>"padding-left:20px"}
    %p= "We are pleased to inform you that you have been registered with #{APP_TITLE} Rewards."
    %p
      = "Please make a note of the following information"
    %p
      = "Username:"
      %strong= "#{@admin_user.username}"
    %p
      = "Please activate your account"
      = link_to "here.", edit_admin_user_password_url(@admin_user, :reset_password_token => @admin_user.reset_password_token, :mode => "activate")

    - if @admin_user.role == AdminUser::Roles::SUPER_ADMIN && @admin_user.msp_id.present?
      %p
        = "By activating your account, you agree with our"
        = link_to "Terms & Conditions.", terms_and_conditions_url
      %br
      %br
      %em{:style=>"font-size: 0.8em;"}
        = "If you are unable to click the activation link please copy the following and paste it in the address bar of your browser:"
        %br
        =link_to edit_admin_user_password_url(@admin_user, :reset_password_token => @admin_user.reset_password_token, :mode => "activate"), edit_admin_user_password_url(@admin_user, :reset_password_token => @admin_user.reset_password_token, :mode => "activate")

    %p= "Please save your username for all future reference and communication."
    %p
      = "If you have any problems accessing or activating your account feel free to reach out to the "
      = link_to "#{APP_TITLE} Team.", "mailto:customercare@birdvision.in"

  = render :partial => "mailers/admin_user/email_footer", :locals => {:user => @admin_user}
